<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uifuture.ssm.mapper.UsersRechargeUbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.uifuture.ssm.entity.UsersRechargeUbEntity">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="delete_time" property="deleteTime" />
        <result column="user_id" property="userId" />
        <result column="money" property="money" />
        <result column="ub_number" property="ubNumber" />
        <result column="order_number" property="orderNumber" />
        <result column="pay_type_en_name" property="payTypeEnName"/>
        <result column="users_pay_id" property="usersPayId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        delete_time,
        user_id, money, ub_number, order_number, pay_type_en_name, users_pay_id
    </sql>

</mapper>
