<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--设置包扫描-->
    <context:component-scan base-package="com.uifuture.spring.core.bean.task">
    </context:component-scan>

    <!-- S 配置线程池 - 配置定时任务
    这里的id为进行异步操作任务是，Async异步注解应该指定的属性值
    -->
    <task:executor id="executor" pool-size="5"/>
    <!--配置线程池-->
    <task:scheduler id="scheduler" pool-size="10"/>
    <!--设置自动发现-->
    <task:annotation-driven executor="executor" scheduler="scheduler"/>
    <!--E 配置定时任务-->
</beans>