<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 链路监控慢sql超时时间 -->
        <!--<setting name="slowSqlTimeout" value="1000"/>-->
        <!-- 配置此项时，logback设置为debug时可以查看sql语句 -->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>
    <!-- 分页插件-->
    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"/>
    </plugins>

</configuration>
