/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

**/log4j.properties
**/email.properties
**/common.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
*.log
*/classes/artifacts/

### maven ###
.mvn

### log ###
log.path_IS_UNDEFINED

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
