<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描并注入使用注入注解的Bean-->
    <context:component-scan base-package="com.uifuture.chapter17">
    </context:component-scan>

    <!--导入application-service.xml配置文件内容-->
    <import resource="classpath*:application-service.xml"></import>

</beans>
