<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uifuture.chapter12.dao.PostMapper">
    <resultMap id="BaseResultMap" type="com.uifuture.chapter12.entity.Post">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="body" jdbcType="VARCHAR" property="body"/>
        <result column="blog_id" jdbcType="INTEGER" property="blogId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, subject, body, blog_id
  </sql>

</mapper>